<%- model_class = @search.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:participant_id) %>:</strong><br>
  <%= @search.participant_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:confidence_discrete) %>:</strong><br>
  <%= @search.confidence_discrete %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:answer_discrete) %>:</strong><br>
  <%= @search.answer_discrete %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:confidencewhy_discrete) %>:</strong><br>
  <%= @search.confidencewhy_discrete %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              searches_path, :class => 'btn'  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              search_path(@search),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
