<div class="row">
  <div class="span4">
    <h1>Search Task</h1>
    <br>
    
    <%= render 'searches/search_instruction' %>
    
    <%= form_for @search, :html => { :class => 'form-vertical' } do |f| %>
      <%= render "shared/error_messages", :object => f.object %>
      
      <% if @search.ad_test == 0 %>
        <%= render "searches/tasks/task0", :f => f %>
      <% end %>
      
      <% if @search.ad_test == 1 %>
        <%= render "searches/tasks/task1", :f => f %>
      <% end %>
      
      <div class="form-actions">
        <%= f.submit "Next Question", :class => 'btn btn-primary source_submit' %>
      </div>
    <% end %>
  </div>
  <div class="span8">
    <%= render 'searches/steps/source_library', :folder => "Language" %>
  </div>
</div>

<!-- Needed for all of the branches -->
<%= render 'source_evaluations/modal_questions' %>